
/* ========= FOOTER  ========= */

.c-footer {
  pointer-events: none;
  position: fixed;
  left: 0;
  bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 220;
  /background: inherit;
  padding-bottom: .3vh;
  overflow: hidden;
}

.c-footer.active {
  width: 0;
  box-shadow: none;
}

.c-footer__content {
  pointer-events: auto;
  display: flex;
  align-items: center;
  width: 60vw;
  min-height: 7vh;
  height: 7vh;
  justify-content: space-between;
  border-radius: 50vw;
  box-shadow: 0 .3vh .3vh rgba(0,0,0, .12);
  background: var(--details-color);
}

.c-footer__content li {
  position: relative;
  height: 100%;
  flex: 1;
}

.c-footer__content li:active {
  background: #5962dF;
}

.c-footer__content img {
  pointer-events: none;
  width: 6vw;
  height: 6vw;
}

.c-footer__content li:nth-child(3) {
  background: #4A81FD;
  border-radius: 50%;
  margin: 0 2vw;
  flex: none;
  width: 8.3vw;
  height: 8vw;
  box-shadow: 0px .3vh 0 #3A71eD,
              0px -.2vh 0 #5A91Ff;
  transition: transform .1s linear;
}

.c-footer__content li:nth-child(3).disabled {
  opacity: .5;
}

.c-footer__content li:nth-child(3).running {
  background: var(--text-color);
  box-shadow: 0px .3vh 0 #cfcfdf,
              0px -.2vh 0 #ffffff;
  animation: is-running .4s linear alternate infinite;
}

@keyframes is-running {
  100% {
    transform: scale(1.2);
  }
}

.c-footer__content [data-footer_card="start"] img {
  width: 4vw;
  height: 4vw;
}

.c-footer__content li:nth-child(2).update::after {
  content: "";
  position: absolute;
  width: 1vw;
  bottom: 15%;
  height: 1vw;
  background: var(--text-color);
  border-radius: 50%;
  z-index: 40;
}